<!--
@Author: Justin Schieck
@Date:   2017-03-26T17:00:33-04:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-03-27T23:06:11-04:00
-->



<% include ./partials/header.ejs %>

    <h1 class="about-title"><%= title %></h1>

    <main class="container2">
        <section class="jumbotron jumbotron-about vertical-center ">
          <div class="image-port">
            <img src="/images/patrick.jpg" class="port-img" alt="portfolio image" />
          </div>
            <div class="about-container">
              <p class=about>Been a tattoo artist for 10 years, winning 13 awards including the jackson award for artistry, James
                grew up in small town ontario where he spent most of his time drawing. Sooner or later after school, he went to University of Toronto for Graphic Design
              soon to move into the tattoo scene with his passion for the art.</p>
                <!-- <div class="row gallery">

                    <img src="/images/tattoo1.jpg" class="img-responsive" alt="1st image">
                    <img src="/images/tattoo2.jpg" class="img-responsive" alt="2nd image">
                    <img src="/images/tattoo1.jpg" class="img-responsive" alt="3rd image">

                </div> -->
              </div>
        </section>
    </main>

    <% include ./partials/footer.ejs %>
