<!--
@Author: Justin Schieck
@Date:   2017-03-27T12:42:06-04:00
@Email:  schieck91@gmail.com
@Last modified by:   Justin Schieck
@Last modified time: 2017-04-04T16:23:47-04:00
-->



<% include ../partials/header.ejs %>

<main class="container">

  <h1>Customer Details</h1>

  <form method="post">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Customer Name: *</label>
      <input name="name" id="name" required />
    </div>
    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">Address: *</label>
      <input name="address" id="address" required />
    </div>
    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Phone: *</label>
      <input name="phone" id="phone" min="0" />
    </div>
    <button class="btn btn-success col-sm-offset-2">Save</button>
  </form>

</main>

<% include ../partials/footer.ejs %>
